h1 {
  font-size: 27px;
  margin-bottom: 10px;
  color: #272727;
}
.container {
  background: #76daff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
}
/* loader Styles started*/
.loader-wrapper {
  display: inline-block;
  margin: 10px;
  width: 550px;
}
.input-wrapper {
  border-width: 5px;
  border-style: solid;
  border-color: #9be4ff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
  position: relative;
}
textarea,
input {
  font-size: 18px;
  outline: 0;
  border: 0;
  padding: 10px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.count {
  font-size: 22px;
  margin-top: 10px;
  color: #727272;
  position: relative;
  right: 0;
  text-align: right;
  display: block;
}
.loader {
  position: absolute;
  bottom: 0;
  border-top: 2px solid;
  width: 100px;
  height: 0px;
  display: block;
  transition: 0.27s all linear;
}
/* loader Styles ended */
