
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.3, maximum-scale=2.0, user-scalable=yes" />
<head>
<title>智能客服</title>

<link rel="StyleSheet" href="../static/css/predict.css" type="text/css" media="screen" />
</head>

<body>
	<div id="Content">
		<h2>欢迎来到智能客服</h2>

		<p>
             <a href="search_form">Enter User interface</a>

		</p>

		<p>
			<sub>Copyright org.csu.zf</sub>
		</p>

	</div>
</body>
</html>